body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: blueviolet;
    text-align: center;
    font-size: 3rem;
}

h2 {
    background-color: rgb(228, 221, 236);
    border: 2px solid ;
    border-color: rgb(93, 56, 123);
    font-size: 2rem;
}

article {
    background-color: rgb(199, 239, 229);
    border: 2px solid ;
    border-color: blueviolet;
    width: 150px;
    height: 150px;
    padding: 10px;
    margin: 10px; 
}

section {
    display: inline-flex; 
    justify-content: flex-start;
}

