body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: rgb(51, 4, 144);
    text-align: center;
    font-size: 3rem;
}

h2 {
    background-color: rgb(228, 221, 236);
    border: 2px solid ;
    border-color: rgb(93, 56, 123);
    font-size: 2rem;
    padding: 5px;
    margin: 10px;
}

article {
    background-color: rgb(199, 239, 229);
    border: 2px solid ;
    border-color: blueviolet;
    width: 150px;
    height: 150px;
    padding: 10px;
    margin: 10px; 
}

article h3 {
    padding-left: 20px;
}

section {
    display: flex; 
    justify-content: flex-start;
}

img {
    height: 172px;
    padding: 10px;
}
